---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not found">
  <main class="error">
    <section>
      <div class="container">
        <h1>Não estamos a encontrar a página que procuras</h1>
        <p class="py-20">
          <a href="/">Carrega aqui</a> para voltar para a página principal.
        </p>
      </div>
    </section>
  </main>
</Layout>