---
import Layout from '../layouts/Layout.astro';
const meta = `
Este projecto é o resultado de uma busca de uma vida inteira, uma busca para preencher um vazio que ia crescendo com o meu caminhar. Essa busca inconsciente levou-me à procura de entendimento, de respostas que de alguma forma preenchessem esse vazio que habitava o meu Coração.
Uma longa peregrinação de mais de 15 anos dentro da vastidão do meu ser, que tantas coisas boas trouxe à minha vida que senti necessidade de alguma forma retribuir ao Grande Espírito, à Grande Mãe, toda a abundância que me chegou. Em 2011 comecei um caminho de serviço, onde naveguei por muitas escolas, práticas e técnicas de desenvolvimento pessoal, das quais se destaca como base sólida do meu trabalho a prática do Xamanismo. O Xamanismo e o estudo dos seus arquétipos são a força motora do trabalho aqui desenvolvido.
Um especial agradecimento a todos os Corações que participaram e se entregaram aos meus trabalhos, à minha guia e ao meu Coração. Sem o seu apoio, o seu carinho, amizade e amor, seguramente não seria quem eu hoje sou.
Aho!, por todas as nossa relações!
`
---

<Layout title="A Casa" meta={meta}>
	<section>
		<div class="container mx-auto">
			<!-- <div class="relative z-10 text-center">
				<h2 class="text-4xl font-bold uppercase tracking-wide">Welcome to The House</h2>
				<p class="mt-4 text-xl text-white">Learn about our mission and the history behind it.</p>
			  </div> -->
		  <div class="relative flex items-center justify-center overflow-hidden">
			<!-- <video class="h-full object-cover" autoplay controls>
			  <source src="vids/casa_coracao.mp4" type="video/mp4"> -->
			  <!-- Add other video source types here -->
			<!-- </video> -->
			<div class="relative flex h-96 items-center justify-center overflow-hidden">
				<iframe class="rumble" width="640" height="360" src="https://rumble.com/embed/v2ckmhc/?pub=1xe254" frameborder="0" allowfullscreen></iframe>
			</div>
		  </div>
		</div>
	  </section>
	  <section class="py-20">
		<div class="container mx-auto">
		  <!-- <h2 class="text-4xl font-bold mb-4">Círculos de Homens</h2> -->
		  <p class="mb-4">
			Este projecto é o resultado de uma busca de uma vida inteira, uma busca para preencher um vazio que ia crescendo com o meu caminhar. Essa busca inconsciente levou-me à procura de entendimento, de respostas que de alguma forma preenchessem esse vazio que habitava o meu Coração. 
		  </p>
		  <p class="mb-4">
			Uma longa peregrinação de mais de 15 anos dentro da vastidão do meu ser, que tantas coisas boas trouxe à minha vida que senti necessidade de alguma forma retribuir ao Grande Espírito, à Grande Mãe, toda a abundância que me chegou. Em 2011 comecei um caminho de serviço, onde naveguei por muitas escolas, práticas e técnicas de desenvolvimento pessoal, das quais se destaca como base sólida do meu trabalho a prática do Xamanismo. O Xamanismo e o estudo dos seus arquétipos são a força motora do trabalho aqui desenvolvido.
		  </p>
		  <p class="mb-4">
			Um especial agradecimento a todos os Corações que participaram e se entregaram aos meus trabalhos, à minha guia e ao meu Coração. Sem o seu apoio, o seu carinho, amizade e amor, seguramente não seria quem eu hoje sou.
		  </p>
		  <p class="mb-4">
			Aho!, por todas as nossa relações!
		  </p>
		</div>
	  </section>
</Layout>