---
import Email from "../components/icons/Email.astro";
import Instagram from "../components/icons/Instagram.astro";
import Telegram from "../components/icons/Telegram.astro";
import Layout from "../layouts/Layout.astro";

const meta = `
Contactos Casa Coração. Gostavas de falar connosco ou de saber mais?
								Envia-nos um email ou junta-te a nós no Telegram ou Instagram.
`
---

<Layout title="Contactos" meta={meta}>
	<main>
		<section class="text-center">
			<div class="container mx-auto px-4 py-8">
				<div class="flex flex-wrap">
					<div
						class="w-full rounded md:w-1/2 shadow-log"
						style="max-height: 500px; overflow: hidden;"
					>
						<img
							src="/temazcal.webp"
							alt="Contact Us"
							class="w-full"
						/>
					</div>
					<div class="w-full md:w-1/2 p-4 flex flex-col justify-center">
						<div class="">
							<p class="mb-4">
								Gostavas de falar connosco ou de saber mais?
								Envia-nos um email ou junta-te a nós no Telegram
							</p>
							<div class="flex flex-col justify-center">
								<div class="mr-8">
									<div class="mx-auto w-8">
										<a
											href="mailto:info@casa-coracao.com"
											target="_blank"
											rel="noreferrer noopener"
										>
											<Email />
										</a>
									</div>
									<p class="text-lg mb-4">
										<a
											href="mailto:info@casa-coracao.com"
											class="text-blue-600"
											target="_blank"
											>info@casa-coracao.com</a
										>
									</p>
								</div>
								<div class="mr-8">
									<div class="mx-auto w-8">
										<a
											href="https://t.me/+Dd4hO8FnzB00MDdk"
											class=""
											target="_blank"
											rel="noreferrer noopener"
										>
											<Telegram />
										</a>
									</div>
									<p class="text-lg mb-4">
										<a
											href="https://t.me/+Dd4hO8FnzB00MDdk"
											class="text-blue-600"
											target="_blank"
											>Casa Coração</a
										>
									</p>
								</div>
								<div class="mr-8">
									<div class="mx-auto w-8">
										<a
											href="https://www.instagram.com/hugo_muacho_luz/"
											class=""
											target="_blank"
											rel="noreferrer noopener"
										>
											<Instagram />
										</a>
									</div>
									<p class="text-lg mb-4">
										<a
											href="https://www.instagram.com/hugo_muacho_luz/"
											target="_blank"
											class="text-blue-600"
											>@hugo_muacho_luz</a
										>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
