---
import Layout from '../layouts/Layout.astro';

const meta = "Coração que Canta nasceu do encontro de dois corações devotos à Grande Mãe, dois seres humanos que partilham uma raiz comum na génese do seu trabalho. Unidos pelo Amor à medicina do Temazcal e ao Xamanismo."
---

<Layout title="Coração Que Canta" meta={meta}>
    <section class="py-10">
        <div class="container mx-auto">
            <p class="mb-4">
                "Coração que Canta" nasceu do encontro de dois corações devotos à Grande Mãe , dois
                seres humanos que partilham uma raiz comum na génese do seu trabalho. Unidos pelo
                Amor à medicina do Temazcal e ao Xamanismo, descobrimos que partilhávamos uma
                visão comum neste caminho como via para a liberdade de pensamento e acção. Assim
                como, uma forma de estar na vida,enraizada no submundo, no grande mistério que está
                sob os nossos pés e que nos traz a âncora para aceder às mais finas frequências dos
                reinos celestiais superiores.
            </p>
            <p class="mb-4">
                Nestes tempos em que a sociedade está desenhada para não termos tempo para respirar,
                na qual o sentido de comunidade se foi perdendo, criámos este trabalho com várias
                intenções. Criar comunidade,rede. Proporcionar um espaço seguro para aprendizagem do
                xamanismo que é uma arte que só se aprende, vivenciando. É através do
                autoconhecimento e da capacidade de nos interpretarmos a nós próprios que abrimos o
                coração para observar o mundo e crescermos juntos em Comunidade.
            </p>
            <p class="mb-4">
                Criámos esta viagem para que através de várias propostas vivenciais te conheças melhor
                e chegues por ti próprio ao que mais necessitas de alcançar. Através de várias dinâmicas
                iremos mergulhar na imensidão do teu ser, abrindo as portas ao que está por revelar.
                Através da magia do círculo, com a força de todos os corações presentes,
                amplificaremos a potência da tua essência e do portal que tu És!
                Com este caminho pretendemos que atinjas a abertura, presença e consciência necessárias
                para que, em humildade, funcionemos como um organismo multi-celular e
                multi-dimensional. Com o canal e voz bem afinados, depois de integradas as
                ferramentas adquiridas , estaremos mais receptivos e mais merecedores para
                recebermos a gloriosa medicina do Temazcal.
            </p>
            <p class="mb-4">
                Manifesto Coração que Canta
                "Coração que Canta" nasceu do encontro de dois corações devotos à Grande Mãe , dois
                seres humanos que partilham uma raiz comum na génese do seu trabalho. Unidos pelo
                Amor à medicina do Temazcal e ao Xamanismo, descobrimos que partilhávamos uma
                visão comum neste caminho como via para a liberdade de pensamento e acção. Assim
                como, uma forma de estar na vida,enraizada no submundo, no grande mistério que está
                sob os nossos pés e que nos traz a âncora para aceder às mais finas frequências dos
                reinos celestiais superiores.
            </p>
            <p class="mb-4">
                Nestes tempos em que a sociedade está desenhada para não termos tempo para respirar,
                na qual o sentido de comunidade se foi perdendo, criámos este trabalho com várias
                intenções. Criar comunidade,rede. Proporcionar um espaço seguro para aprendizagem do
                xamanismo que é uma arte que só se aprende, vivenciando. É através do
                autoconhecimento e da capacidade de nos interpretarmos a nós próprios que abrimos o
                coração para observar o mundo e crescermos juntos em Comunidade.
            </p>
            <p class="mb-4">
                Criámos esta viagem para que através de várias propostas vivenciais te conheças melhor
                e chegues por ti próprio ao que mais necessitas de alcançar. Através de várias dinâmicas
                iremos mergulhar na imensidão do teu ser, abrindo as portas ao que está por revelar.
                Através da magia do círculo, com a força de todos os corações presentes,
                amplificaremos a potência da tua essência e do portal que tu És!
                Com este caminho pretendemos que atinjas a abertura, presença e consciência necessárias
                para que, em humildade, funcionemos como um organismo multi-celular e
                multi-dimensional. Com o canal e voz bem afinados, depois de integradas as
                ferramentas adquiridas , estaremos mais receptivos e mais merecedores para
                recebermos a gloriosa medicina do Temazcal.
            </p>
            <p class="mb-4">
                "Coração que Canta" abre-te a oportunidade de resgatar a tua Voz interior, escutar e
                cantar em uníssono com a pulsação da Mãe Terra, que é a do bater do teu Coração. Vem
                relembrar connosco a inocência desta Verdade!
            </p>
            <p class="mb-4">
                Por todas as nossas relações,
                <br>
                De Coração,
            </p>
            <p class="mb-4">
                Liliana e Hugo
            </p>
        </div>
    </section>
</Layout>
