---
import Layout from '../layouts/Layout.astro';
import Testimonial from '../components/Testimonial.astro';
import Instagram from "../components/icons/Instagram.astro";
import Email from "../components/icons/Email.astro";
import Telegram from "../components/icons/Telegram.astro";
const meta = `
Este projecto é o resultado de uma busca de uma vida inteira, uma busca para preencher um vazio que ia crescendo com o meu caminhar. Essa busca inconsciente levou-me à procura de entendimento, de respostas que de alguma forma preenchessem esse vazio que habitava o meu Coração.
Uma longa peregrinação de mais de 15 anos dentro da vastidão do meu ser, que tantas coisas boas trouxe à minha vida que senti necessidade de alguma forma retribuir ao Grande Espírito, à Grande Mãe, toda a abundância que me chegou. Em 2011 comecei um caminho de serviço, onde naveguei por muitas escolas, práticas e técnicas de desenvolvimento pessoal, das quais se destaca como base sólida do meu trabalho a prática do Xamanismo. O Xamanismo e o estudo dos seus arquétipos são a força motora do trabalho aqui desenvolvido.
Um especial agradecimento a todos os Corações que participaram e se entregaram aos meus trabalhos, à minha guia e ao meu Coração. Sem o seu apoio, o seu carinho, amizade e amor, seguramente não seria quem eu hoje sou.
Aho!, por todas as nossa relações!
`

---

<Layout title="Coração Que Canta" meta={meta}>
    <!--<section>-->
    <!--    <div class="container mx-auto">-->
    <!--        <div class="relative flex items-center justify-center overflow-hidden">-->
    <!--            &lt;!&ndash; <video class="h-full object-cover" autoplay controls>-->
    <!--              <source src="vids/casa_coracao.mp4" type="video/mp4"> &ndash;&gt;-->
    <!--            &lt;!&ndash; Add other video source types here &ndash;&gt;-->
    <!--            &lt;!&ndash; </video> &ndash;&gt;-->
    <!--            <div class="relative flex h-96 items-center justify-center overflow-hidden">-->
    <!--                <iframe class="rumble" width="640" height="360" src="https://rumble.com/embed/v2ckmhc/?pub=1xe254" frameborder="0" allowfullscreen></iframe>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    <section class="py-10">
        <div class="container mx-auto">
            <p class="mb-4">
                “Coração que Canta” nasceu do encontro de dois corações devotos à Grande Mãe , dois
                seres humanos que partilham uma raiz comum na génese do seu trabalho. Unidos pelo
                Amor à medicina do Temazcal e ao Xamanismo, descobrimos que partilhávamos uma
                visão comum neste caminho como via para a liberdade de pensamento e acção. Assim
                como, uma forma de estar na vida,enraizada no submundo, no grande mistério que está
                sob os nossos pés e que nos traz a âncora para aceder às mais finas frequências dos
                reinos celestiais superiores.
            </p>
            <p class="mb-4">
                Nestes tempos em que a sociedade está desenhada para não termos tempo para respirar,
                na qual o sentido de comunidade se foi perdendo, criámos este trabalho com várias
                intenções. Criar comunidade,rede. Proporcionar um espaço seguro para aprendizagem do
                xamanismo que é uma arte que só se aprende, vivenciando. É através do
                autoconhecimento e da capacidade de nos interpretarmos a nós próprios que abrimos o
                coração para observar o mundo e crescermos juntos em Comunidade.
            </p>
            <p class="mb-4">
                Criámos esta viagem para que através de várias propostas vivenciais te conheças melhor
                e chegues por ti próprio ao que mais necessitas de alcançar. Através de várias dinâmicas
                iremos mergulhar na imensidão do teu ser, abrindo as portas ao que está por revelar.
                Através da magia do círculo, com a força de todos os corações presentes,
                amplificaremos a potência da tua essência e do portal que tu És!
                Com este caminho pretendemos que atinjas a abertura, presença e consciência necessárias
                para que, em humildade, funcionemos como um organismo multi-celular e
                multi-dimensional. Com o canal e voz bem afinados, depois de integradas as
                ferramentas adquiridas , estaremos mais receptivos e mais merecedores para
                recebermos a gloriosa medicina do Temazcal.
            </p>
            <p class="mb-4">
                Manifesto Coração que Canta
                “Coração que Canta” nasceu do encontro de dois corações devotos à Grande Mãe , dois
                seres humanos que partilham uma raiz comum na génese do seu trabalho. Unidos pelo
                Amor à medicina do Temazcal e ao Xamanismo, descobrimos que partilhávamos uma
                visão comum neste caminho como via para a liberdade de pensamento e acção. Assim
                como, uma forma de estar na vida,enraizada no submundo, no grande mistério que está
                sob os nossos pés e que nos traz a âncora para aceder às mais finas frequências dos
                reinos celestiais superiores.
            </p>
            <p class="mb-4">
                Nestes tempos em que a sociedade está desenhada para não termos tempo para respirar,
                na qual o sentido de comunidade se foi perdendo, criámos este trabalho com várias
                intenções. Criar comunidade,rede. Proporcionar um espaço seguro para aprendizagem do
                xamanismo que é uma arte que só se aprende, vivenciando. É através do
                autoconhecimento e da capacidade de nos interpretarmos a nós próprios que abrimos o
                coração para observar o mundo e crescermos juntos em Comunidade.
            </p>
            <p class="mb-4">
                Criámos esta viagem para que através de várias propostas vivenciais te conheças melhor
                e chegues por ti próprio ao que mais necessitas de alcançar. Através de várias dinâmicas
                iremos mergulhar na imensidão do teu ser, abrindo as portas ao que está por revelar.
                Através da magia do círculo, com a força de todos os corações presentes,
                amplificaremos a potência da tua essência e do portal que tu És!
                Com este caminho pretendemos que atinjas a abertura, presença e consciência necessárias
                para que, em humildade, funcionemos como um organismo multi-celular e
                multi-dimensional. Com o canal e voz bem afinados, depois de integradas as
                ferramentas adquiridas , estaremos mais receptivos e mais merecedores para
                recebermos a gloriosa medicina do Temazcal.
            </p>
            <p class="mb-4">
                “Coração que Canta” abre-te a oportunidade de resgatar a tua Voz interior, escutar e
                cantar em uníssono com a pulsação da Mãe Terra, que é a do bater do teu Coração. Vem
                relembrar connosco a inocência desta Verdade!
            </p>
            <p class="mb-4">
                Por todas as nossas relações,
                <br>
                De Coração,
            </p>
            <p class="mb-4">
                Liliana e Hugo
            </p>
        </div>
    </section>

</Layout>