---
import EventCard from '../components/EventCard.astro';
import Layout from '../layouts/Layout.astro';
import { formatDate, getDirectusClient, readItems } from '../utils/utils';

const directus = getDirectusClient();
const events = await directus.request(
  readItems("events", {
    fields: ["*", "user_created", "user_created.first_name", "user_created.last_name"],
    filter: { status: { _eq: "published" } },
    sort: ["-start"],
  })
);

const formattedEvents = events.map((event) => ({
  ...event,
  start: formatDate(event.start),
  end: formatDate(event.end),
}));

const [topEvent, ...otherEvents] = formattedEvents;
const meta = "Eventos da Casa Coração. Terapias, workshops e retiros.";
const keywords = "eventos, terapias, xamanismo, workshops, retiros, Casa Coração";
---

<Layout title="Eventos" meta={meta} keywords={keywords}>
		<section class="main-content">
		  <div class="container">
			<div class="max-w-full mb-8">
				<EventCard event={topEvent} ></EventCard>
			</div>
			<div class="articles-grid">
			  {otherEvents.map((event) => (
			  <EventCard event={event}/>
			  ))}
			</div>
		  </div>
		</section>
</Layout>
