---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section
		class="bg-cover bg-center w-full"
		style="background-image: url('home-hero1.jpg')"
	>
		<div class="container mx-auto pt-32 pb-40 px-4">
			<div class="text-center text-white w-full md:w-2/3 lg:w-1/2 mx-auto">
				<img src="/cc-home.svg" alt="Casa Coração" />
			</div>
		</div>
	</section>
	<section class="py-16">
		<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="lg:text-center">
				<!-- <h2
					class="text-base font-semibold tracking-wide uppercase"
				>
					A Casa
				</h2> -->
				<p
					class="mt-2 text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"
				>
					A Casa
				</p>
				<p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
					A Casa Coração é o culminar de mais de 15 anos de caminho em direcção ao Grande Espírito. É a tradução da amálgama de experiência, cerimónias, formações, viagens, peregrinações e tempos de isolamento na montanha. É o refinar do que melhor posso oferecer através das minhas experiências, através do que moldou a toda a fibra do meu Ser.
				</p>
			</div>
			<div class="mt-10">
				<ul class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
					<li>
						<div class="flex">
							<!-- <div class="flex-shrink-0">
								<div
									class="flex items-center justify-center h-12 w-12 rounded-md button_call-action-dark text-white"
								>
									<img src="" />
								</div>
							</div> -->
							<div class="ml-4">
								<h4
									class="text-lg leading-6 font-medium text-gray-900"
								>
									Nossa Missão
								</h4>
								<p class="mt-2 text-base text-gray-500">
									A missão primordial da Casa Coração é o resgate da criança Interior.  Através dos nossos trabalhos dissolver, integrar e libertar as partes feridas para que possas desbloquear todo o potencial do teu ser.
								</p>
							</div>
						</div>
					</li>
					<li class="mt-10 md:mt-0">
						<div class="flex">
							<!-- <div class="flex-shrink-0">
								<div
									class="flex items-center justify-center h-12 w-12 rounded-md button_call-action-dark text-white"
								>
									<svg
										class="h-6 w-6"
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
										stroke="currentColor"
										aria-hidden="true"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M19 14l-7 7m0 0l-7-7m7 7V3"
										></path>
									</svg>
								</div>
							</div> -->
							<div class="ml-4">
								<h4
									class="text-lg leading-6 font-medium text-gray-900"
								>
									Valores
								</h4>
								<p class="mt-2 text-base text-gray-500">
									Verdade, Justiça, Coerência e Compaixão são os pilares e valores que me guiam. Rumo ao Centro, rumo ao Amor do nosso Coração.
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="text-center w-full pt-20 pb-10">

				<a href="/casa" class="bg-white font-bold rounded py-4 px-8 uppercase tracking-wider text-gray-700 hover:text-black">Saber Mais</a>
			</div>

		</div>
	</section>
	<!--  -->
	<section
		class="bg-cover bg-center w-full py-20"
		style="background-image: url('home-hero2.jpg')"
	>
		<div class="container mx-auto pt-32 pb-40 px-4">
			<div class="text-center text-white">
				<p class="text-xl mb-4 pb-10">
					Hugo Muacho da Luz, o Coração por trás da Casa. Convido-te a conhecer-me um pouco mais.
				</p>
				<a href="/about-me"
					class="bg-white font-bold rounded py-4 px-8 uppercase tracking-wider text-gray-700 hover:text-black"
					>Saber Mais</a>
			</div>
		</div>
	</section>
	<section class="py-20">
		<div class="container mx-auto px-4">
			<div class="mb-10">
				<h2 class="text-3xl font-bold mb-4">As nossas Propostas</h2>
				<p class="text-gray-600">
					Oferecemos um leque de terapias para te apoiar na tua jornada
					pessoal de cura e descoberta.
				</p>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
				<div class="bg-white shadow-lg rounded-lg overflow-hidden">
					<img
						class="w-full h-48 object-cover"
						src="servicos/oliveira.jpg"
						alt="Terapias"
					/>
					<div class="py-4 px-6">
						<h3 class="text-lg font-bold mb-2">Terapias</h3>
						<p class="text-gray-600 text-sm">
							Terapias online ou presenciais, com objectivos próprios e adaptados às tuas necessidades individuais.
						</p>
						<div class="m-5">
						<a
							href="/therapies"
							class="button_call-action-dark text-white font-bold py-2 px-4 mt-4 rounded focus:outline-none focus:shadow-outline"
							>Saber Mais</a
						>
						</div>
					</div>
				</div>
				<div class="bg-white shadow-lg rounded-lg overflow-hidden">
					<img
						class="w-full h-48 object-cover"
						src="servicos/altar.jpg"
						alt="Retiros & Workshops"
					/>
					<div class="py-4 px-6">
						<h3 class="text-lg font-bold mb-2">Retiros & Workshops</h3>
						<p class="text-gray-600 text-sm">
							Trabalhos de mergulho e de celebração, nos quais trabalhamos o eixo horizontal entre o caminho do guerreiro e o caminho da beleza.
						</p>
						<div class="m-5">
							<a
								href="/workshops"
								class="button_call-action-dark text-white font-bold py-2 px-4 mt-4 rounded focus:outline-none focus:shadow-outline"
							>Saber Mais</a>
						</div>
					</div>
				</div>
				<div class="bg-white shadow-lg rounded-lg overflow-hidden">
					<img
						class="w-full h-48 object-cover"
						src="servicos/fogo.jpg"
						alt="Homem Solar"
					/>
					<div class="py-4 px-6">
						<h3 class="text-lg font-bold mb-2">Homem Solar</h3>
						<p class="text-gray-600 text-sm">
							O  Objetivo deste trabalho é dar aos homens uma maior capacidade de entendimento emocional através da cura dos Arquétipos do Sol e da Lua.
						</p>
						<div class="m-5">
							<a
								href="/solar-man"
								class="button_call-action-dark text-white font-bold py-2 px-4 mt-4 rounded focus:outline-none focus:shadow-outline"
								>Saber Mais</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
