---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section
		class="bg-cover bg-center w-full"
		style="background-image: url('home-hero1.jpg')"
	>
		<div class="container mx-auto pt-32 pb-40 px-4">
			<div class="text-center text-white">
				<img src="/cc-home.svg" alt="Casa Coração" />
				<!-- <h1 class="text-5xl mb-4 font-bold">Welcome to Rustic Place</h1> -->
				<p class="text-xl mb-4">
					We offer personal development and emotional healing services
					rooted in American shamanism traditions, medicines and
					ceremonies.
				</p>
				<button
					class="bg-white font-bold rounded py-4 px-8 uppercase tracking-wider text-gray-700 hover:text-black"
					>Saber Mais</button
				>
			</div>
		</div>
	</section>
	<section class="bg-gray-100 py-16">
		<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="lg:text-center">
				<h2
					class="text-base font-semibold tracking-wide uppercase"
				>
					A Casa
				</h2>
				<p
					class="mt-2 text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"
				>
					Um pouco sobre o projeto
				</p>
				<p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
					We are a team of experienced shamanic practitioners who
					offer a variety of services related to personal development
					and emotional healing. Our work is rooted in the traditions,
					medicines, and ceremonies of American shamanism, and we
					strive to create a safe and supportive environment for all
					of our clients.
				</p>
			</div>
			<div class="mt-10">
				<ul class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
					<li>
						<div class="flex">
							<div class="flex-shrink-0">
								<div
									class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
								>
									<img src="" />
								</div>
							</div>
							<div class="ml-4">
								<h4
									class="text-lg leading-6 font-medium text-gray-900"
								>
									Our Mission
								</h4>
								<p class="mt-2 text-base text-gray-500">
									Our mission is to help people connect with
									their inner wisdom and intuition, and to
									support them on their journey towards
									greater self-awareness, healing, and
									empowerment.
								</p>
							</div>
						</div>
					</li>
					<li class="mt-10 md:mt-0">
						<div class="flex">
							<div class="flex-shrink-0">
								<div
									class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
								>
									<svg
										class="h-6 w-6"
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
										stroke="currentColor"
										aria-hidden="true"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M19 14l-7 7m0 0l-7-7m7 7V3"
										></path>
									</svg>
								</div>
							</div>
							<div class="ml-4">
								<h4
									class="text-lg leading-6 font-medium text-gray-900"
								>
									Our Values
								</h4>
								<p class="mt-2 text-base text-gray-500">
									We are committed to creating a safe,
									non-judgmental space for all of our clients,
									and we believe in the power of community and
									connection to support healing and
									transformation.
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--  -->
	<section
		class="bg-cover bg-center w-full"
		style="background-image: url('home-hero2.jpg')"
	>
		<div class="container mx-auto pt-32 pb-40 px-4">
			<div class="text-center text-white">
				<p class="text-xl mb-4">
					Pequeno texto sobre Hugo
				</p>
				<a href="/about-me"
					class="bg-white font-bold rounded py-4 px-8 uppercase tracking-wider text-gray-700 hover:text-black"
					>Saber Mais</a>
			</div>
		</div>
	</section>
	<section class="bg-gray-100 py-20">
		<div class="container mx-auto px-4">
			<div class="mb-10">
				<h2 class="text-3xl font-bold mb-4">As nossas Propostas</h2>
				<p class="text-gray-600">
					We offer a range of services to support your personal
					development and emotional healing journey. Our services are
					rooted in American Shamanism traditions, medicines and
					ceremonies, and are tailored to meet your individual needs.
				</p>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
				<div class="bg-white shadow-lg rounded-lg overflow-hidden">
					<img
						class="w-full h-48 object-cover"
						src="servicos/temazcal.jpg"
						alt="Service 1"
					/>
					<div class="py-4 px-6">
						<h3 class="text-lg font-bold mb-2">Service 1</h3>
						<p class="text-gray-600 text-sm">
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation ullamco laboris nisi ut aliquip
							ex ea commodo consequat.
						</p>
						<div class="m-5">
						<a
							href="#"
							class="button_call-action-dark text-white font-bold py-2 px-4 mt-4 rounded focus:outline-none focus:shadow-outline"
							>Learn More</a
						>
						</div>
					</div>
				</div>
				<div class="bg-white shadow-lg rounded-lg overflow-hidden">
					<img
						class="w-full h-48 object-cover"
						src="servicos/altar.jpg"
						alt="Service 2"
					/>
					<div class="py-4 px-6">
						<h3 class="text-lg font-bold mb-2">Service 2</h3>
						<p class="text-gray-600 text-sm">
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation ullamco laboris nisi ut aliquip
							ex ea commodo consequat.
						</p>
						<div class="m-5">
							<a
								href="#"
								class="button_call-action-dark hover:button_call-action-light text-white font-bold py-2 px-4 mt-4 rounded focus:outline-none focus:shadow-outline"
								>Learn More</a
							>
						</div>
					</div>
				</div>
				<div class="bg-white shadow-lg rounded-lg overflow-hidden">
					<img
						class="w-full h-48 object-cover"
						src="servicos/oliveira.jpg"
						alt="Service 3"
					/>
					<div class="py-4 px-6">
						<h3 class="text-lg font-bold mb-2">Service 3</h3>
						<p class="text-gray-600 text-sm">
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation ullamco laboris nisi ut aliquip
							ex ea commodo consequat.
						</p>
						<div class="m-5">
							<a
								href="#"
								class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 mt-4 rounded focus:outline-none focus:shadow-outline"
								>Learn More</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
