---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<h1 class="text-center">Bem vindo à</h1>
		<div>	
			<img src="/cc-home.svg" alt="Casa Coração" />
		</div>
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
