---
import Layout from "../layouts/Layout.astro";
import Testimonial from "../components/Testimonial.astro";

const meta = `
Por vezes o entendimento não basta. Por vezes lavamos o Coração,
				mas mesmo assim não é o suficiente. Como se algo ficasse gravado
				no corpo, impresso nas células. Como se houvesse uma força que
				nos atrasa e não nos deixa viver em pleno.
				As residências de cura e activação surgem porque às vezes é
				preciso tempo. Tempo para o coração sossegar, tempo para a mente
				se acalmar, tempo para o corpo se relaxar. Tempo para
				estabelecer confiança com o terapeuta para que te possas
				verdadeiramente entregar.
				Para que se dê a rendição, a dissolução e a elevação do que há
				para libertar, abrindo assim espaço ao que há de novo para abrir
				dentro do teu Ser.
				Esta é a proposta para estes trabalhos de três dias. Se sentes
				que algo para trás te pesa na vida ou se queres de alguma forma
				encontrar um novo rumo para o teu ser, podes pedir mais
				informações para o nosso email.
`
---

<Layout title="Residências" meta={meta}>
	<section>
		<div class="container mx-auto">
			<div
				class="relative flex items-center justify-center overflow-hidden"
			>
				<div
					class="relative flex h-96 items-center justify-center overflow-hidden"
				>
					<iframe
						class="rumble"
						width="640"
						height="360"
						src="https://rumble.com/embed/v2clqdk/?pub=1xe254"
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
	<section class="py-10">
		<div class="container mx-auto">
			<p class="mb-4">
				Por vezes o entendimento não basta. Por vezes lavamos o Coração,
				mas mesmo assim não é o suficiente. Como se algo ficasse gravado
				no corpo, impresso nas células. Como se houvesse uma força que
				nos atrasa e não nos deixa viver em pleno.
			</p>
			<p class="mb-4">
				As residências de cura e activação surgem porque às vezes é
				preciso tempo. Tempo para o coração sossegar, tempo para a mente
				se acalmar, tempo para o corpo se relaxar. Tempo para
				estabelecer confiança com o terapeuta para que te possas
				verdadeiramente entregar.
			</p>
			<p class="mb-4">
				Para que se dê a rendição, a dissolução e a elevação do que há
				para libertar, abrindo assim espaço ao que há de novo para abrir
				dentro do teu Ser.
			</p>
			<p class="mb-4">
				Esta é a proposta para estes trabalhos de três dias. Se sentes
				que algo para trás te pesa na vida ou se queres de alguma forma
				encontrar um novo rumo para o teu ser, podes pedir mais
				informações para o nosso
				<a href="mailto:info@casa-coracao.com" class="font-bold"> email</a>
			</p>
		</div>
	</section>
	<section class="pb-10">
		<div class="max-w-5xl mx-auto px-6 lg:px-0">
			<h2 class="text-3xl lg:text-4xl font-bold mb-8 text-center">Testemunhos</h2>
			<div class="grid grid-cols-1 gap-8">
			<Testimonial name="Mariana Fonseca">
				"<span class="font-bold text-xl">Durante uma residência individual que fiz com o Hugo passei por um trabalho terapêutico profundo e muito transformador.</span>
				Os portais que se abriram ao longo desses 3 dias, permitiram-me conectar com dimensões minhas, muito subtis e profundas, e integrá-las em processos significativos, de cura e transmutação de padrões e crenças negativos geradores de grandes bloqueios na minha vida.
				<span class="font-bold text-xl">Foi incrível constatar que os processos iniciados durante a residência continuaram a operar a níveis muito subtis que resultaram em mudanças concretas, muito positivas em mim e na minha vida.</span>
				O Hugo faz um trabalho amoroso e profundo, num ambiente muito seguro e de grande sustentação, condições, na minha opinião, essenciais em qualquer processo terapêutico.
			</Testimonial>
			<Testimonial name="Carla Silva">
				"… Estamos num sítio seguro, estamos num sítio que nos acolhe, estamos num sítio que não nos julga e estamos guiados por um ser altamente sensível e atento ao que nós precisamos, para que o nosso processo seja feito em Amor, Leveza e Alegria.   
				E isso <span class="font-bold text-xl">traz-te reconexão contigo mesmo, entendimento nos teus processos e uma ajuda gigantesca na compreensão e na aceitação dos processos pelos quais passamos.</span>"
			</Testimonial>
			</div>
		</div>
	</section>
</Layout>
