---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Homem Solar">
	<section class="">
		<div class="container mx-auto">
		  <div class="relative flex items-center justify-center overflow-hidden">
			<div class="relative flex h-96 items-center justify-center overflow-hidden">
				<iframe class="rumble" width="640" height="360" src="https://rumble.com/embed/v2ckmze/?pub=1xe254" frameborder="0" allowfullscreen></iframe>
			  </div>
		  </div>
		</div>
	  </section>
	  <section class="py-10">
		<div class="container mx-auto">
		  <p class="mb-4">
			O Homem Solar é um trabalho pelo qual tenho um carinho muito especial. Um trabalho que desenvolvo desde 2015 e que tem sido uma ferramenta de grande crescimento e cura pessoal.
		  </p>
		  <p class="mb-4">
			O  Objetivo deste trabalho é dar aos homens uma maior capacidade de entendimento emocional através da cura dos Arquétipos do Sol e da Lua. 
			</p>
		  <p class="mb-4">
			Navegando pelos elementos, direcções e arquétipos animais, mergulhamos no nosso mundo sistémico, e no nosso mundo interior, procurando resgatar partes nossas perdidas. 
			</p>
		  <p class="mb-4">
			O resgate da criança interior e a remoção de filtros e véus traumáticos que de alguma forma ainda toldam e ofuscam a nossa acção, provocando reactividades indesejáveis. 
			</p>
		  <p class="mb-4">
			O objectivo através de 4 retiros das 4 direcções é munir os homens de ferramentas de auto-observação para que possam identificar traumas, gatilhos e padrões mais obsessivos e desajustados de comportamento. 
			</p>
		  <p class="mb-4">
			Para que possam também começar a viver a partir do seu centro, do seu  Coração, com coerência, responsabilidade e nobreza.
			</p>
		</div>
	  </section>
</Layout>