---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Terapias">
	<!-- <script>
	!function(r,u,m,b,l,e){r._Rumble=b,r[b]||(r[b]=function(){(r[b]._=r[b]._||[]).push(arguments);if(r[b]._.length==1){l=u.createElement(m),e=u.getElementsByTagName(m)[0],l.async=1,l.src="https://rumble.com/embedJS/u1xe254"+(arguments[1].video?'.'+arguments[1].video:'')+"/?url="+encodeURIComponent(location.href)+"&args="+encodeURIComponent(JSON.stringify([].slice.apply(arguments))),e.parentNode.insertBefore(l,e)}})}(window, document, "script", "Rumble");
	</script> -->
	<section>
		<div class="container mx-auto">
			<!-- <div class="relative z-10 text-center">
				<h2 class="text-4xl font-bold uppercase tracking-wide">Welcome to The House</h2>
				<p class="mt-4 text-xl text-white">Learn about our mission and the history behind it.</p>
			</div> -->
		  <div class="relative flex h-96 items-center justify-center overflow-hidden">
			<iframe class="rumble" width="640" height="360" src="https://rumble.com/embed/v2cm832/?pub=1xe254" frameborder="0" allowfullscreen></iframe>
		  </div>
		</div>
	  </section>
	  <section class="py-10">
		<div class="container mx-auto">
		  <h2 class="text-4xl font-bold mb-8">Terapias Online</h2>
		  <p class="mb-4">
			Com a duração de uma ou duas horas, nas quais se cria um espaço seguro para a expansão do canal e para a conexão com as nossas Almas e com as suas Hierarquias. 
		</p>
		  <p class="mb-4">
			A Base desta terapia assenta numa conversa na qual através da identificação de padrões de comportamento entramos no mundo das Águas internas profundas, o nosso campo emocional, que é a porta de entrada para a nossa psique.  Podem ser utilizadas várias técnicas de meditação, de terapia multidimensional, assim como dinâmicas activas de autodescoberta.
		</p>
		<h3 class="font-bold my-8 text-center">Objectivos</h3>
		<ul class="grid__section grid grid-cols-1 gap-10 md:grid md:grid-cols-3 md:gap-x-8 md:gap-y-10">
			<li class="bg-white shadow-lg rounded-lg overflow-hidden">
				<div class="flex p-3">
					<div class="ml-4">
						<p class="mt-2 text-base">
							Identificar padrões de comportamento, identificar a sua origem e resignificá-los.
						</p>
					</div>
				</div>
			</li>
			<li class="bg-white shadow-lg rounded-lg overflow-hidden">
				<div class="flex p-3">
					<div class="ml-4">
						<p class="mt-2 text-base">
							Activação do observador interior para que possas identificar gatilhos, padrões e reactividades indesejadas.
						</p>
					</div>
				</div>
			</li>
			<li class="bg-white shadow-lg rounded-lg overflow-hidden">
				<div class="flex p-3">
					<div class="ml-4">
						<p class="mt-2 text-base">
							Começar a viver a partir do Coração, com coerência, responsabilidade e com a capacidade de saber caminhar nos sapatos dos outros.
						</p>
					</div>
				</div>
			</li>
		</ul>
		</div>
	  </section>
	  <section class="pb-10">
		<div class="container mx-auto">
		  <h2 class="text-4xl font-bold mb-8">Terapias Presenciais</h2>
		  <p class="mb-4">
			A duração da terapia presencial pode ir de duas a seis horas.  
Assenta nos mesmos principios e tem os mesmos objectivos que as terapias online. Cura e activação. A diferença é que presencialmente podemos utlizar técnicas de limpeza xamânica, radiestesia assim como outras técnicas energéticas. Normalmente implicam uma deslocação à Casa Coração.
		</p>
		</div>
	  </section>
	  <style>
		.grid__section li {
			min-height: 60px;
		}
	  </style>
</Layout>