---

let {href, description, classes} = Astro.props;
if (description == null)
    description = 'Saber Mais'
---
<div class={'m-5 text-center ' + (classes ? classes : '')}>
    <a
        href={href}
        class="button_call-action-dark text-white font-bold py-2 px-4 mt-4 rounded focus:outline-none focus:shadow-outline"
    >{description}</a>
</div>

<style>

</style>