---
import GithubIcon from './icons/Github.astro'
import YoutubeIcon from './icons/Youtube.astro'
import TwitterIcon from './icons/Twitter.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <div class="container footer__bottomWrapper">
    <span class="footer__copyright">
      © { currentYear } Casa Coração
    </span>
    <!-- <ul class="footer__socials">
      <li>
        <a href="https://github.com/directus" class="logo" target="_blank" rel="noreferrer noopener">
          <GithubIcon />
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/DirectusVideos" class="logo" target="_blank" rel="noreferrer noopener">
          <YoutubeIcon />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/directus" class="logo" target="_blank" rel="noreferrer noopener">
          <TwitterIcon />
        </a>
      </li>
    </ul> -->
  </div>
</footer>