---
const {name} = Astro.props;
---

<div class="bg-white rounded-md shadow-md p-6">
    <blockquote class="font-medium mb-4">
        <slot></slot>
    </blockquote>
    <p class="text-gray-800 text-lg font-bold mb-4">{name}</p>
</div>
