---
// import 'modern-normalize'
import '../stylesheet/main.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const { title } = Astro.props
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Casa Coração</title>
  <link rel="shortcut icon" href="/favicon.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Major+Mono+Display&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" /> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" /> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
</head>

<body class="layout">
  <Header />
  <main class="container">
    <section>
      <h1 class="page-title">{title}</h1>
      </section>
    <slot />
  </main>
  <Footer />
</body>
<style is:global>
  main {
		/* margin: auto; */
		/* padding: 1.5rem; */
		/* max-width: 60ch; */
	}
  .page-title {
    font-family: var(--family-sans-serif);
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 12px;
    line-height: 60px;
    color: #cc5549;
    color: var(--foreground-subdued);
    margin-bottom: 15px;
  }
</style>
</html>